
::-webkit-validation-bubble-message { display: none; }

html {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden; 
    overflow-y: auto;
}

main {
	height: 100vh;
	min-width: 340px;
	background: linear-gradient(
		rgba(0, 0, 0, 0.4), 
		rgba(0, 0, 0, 0.4)
		);
	font-family: 'Ubuntu', sans-serif;
	font-size: $font-size;
	display: flex;
	overflow: hidden;

	.mobile {
		width: 100%;
		background: linear-gradient(
		rgba(0, 0, 0, 0.6), 
		rgba(0, 0, 0, 0.6)
		), url(Images/hockey-background.jpg);
		background-position: center;
	}
}

@media screen and (max-aspect-ratio: 1920/1080) {
  .video-container > video {
    height: 100%;
  }
}
@media screen and (min-aspect-ratio: 1920/1080) {
  .video-container > video {
    width: 100%;
  }
}

.new-background {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.6), 
		rgba(0, 0, 0, 0.6)
		), url(Images/hockey-background.jpg);
	transition: background 1s ease-in-out;
}

.video-container {
    position: absolute;
    // height: 96vh;
    // width: 170vh;
    // top: -10%;
    // left: -10%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -3;

    > video {
		display: block;
	    position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		pointer-events: none;

	}
}



// video { 
//     position: absolute;
//     min-width: 120%;
//     min-height: 120%;
//     width: auto;
//     height: auto;
//     z-index: -4;
//     margin: auto;
//     // transform: translateY(-20%);
//  	background: url(Images/hockey-background.jpg) no-repeat;
//   	background-size: cover;
  	
//   	@media (max-width: 600px) {
//   		display: none;
//   	}
// }

h1, h2, h3 {
	margin: 0px 2px;
	padding: 0px;
	font-size: 1.6rem;
	text-align: center;
	color: $color2;
}

a {
	text-decoration: none;
	color: $default-link-color;

	&:hover {
		color: $color5;
		transition: color 0.2s ease;
	}

	&:focus {
		outline: none;
		color: $color5;
	}
}

img {
	display: block;
	max-width: 100%;
}

aside {
	width: 0;
	height: 0%;
	position: absolute;
	opacity: 0px;
	left: -600px;
	overflow: hidden;
	visibility: none;
}

body {
	margin: 0;
	padding: 0;
}

.display-none {
	display: none;
}


