
input[type='submit'],
button {
	display: block;
	margin: 5px auto;
	padding: 5px 12px;
	max-width: $button-width;
	color: $light-color;
	font-family: $button-font;
	text-transform: none;
	border: none;
	outline: none;
	border-radius: $button-radius;
	background: $color2; 
	background: -moz-linear-gradient(top, $color2 0%, $color1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color2), color-stop(100%,$color1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $color2 0%,$color1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $color2 0%,$color1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $color2 0%,$color1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $color2 0%,$color1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color2', endColorstr='$color1',GradientType=0 ); /* IE6-9 */

	&:hover {
		background: $color5;
		transition: background 0.2s ease-in;
	}

	&:focus {
		border: none;
		outline: 3px solid $color4;
		transition: outline 0.15s ease-in-out;
		
	}

}

.submit-button {
	display: flex;
	align-items: center;
}

form {
	// box-shadow: -2px 2px darken($color2, 10%);
	// border: 1px solid $color2;
	align-items: center;
	min-height: 150px;
	display: none;
	flex-direction: column;
	cursor: default;
	padding: 10px 4px 15px;
	border-radius: $form-radius;
	color: $light-color;
	font-size: $font-size;

	background: $color3; /* Old browsers that do not support linear-gradients */
	background: -moz-linear-gradient(top, $color3 0%, $color1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color3), color-stop(100%,$color1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $color3 0%,$color1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $color3 0%,$color1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $color3 0%,$color1 100%); /* IE10+ */
	background: linear-gradient(to bottom, $color3 0%,$color1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color3', endColorstr='$color1',GradientType=0 ); /* IE6-9 */


	// 
	// @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	// 	align-items: center;
	// }

	.form-title {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin: 0;
		padding: 0 4px;
		width: 100%;
	
		.form-logo {
			width: 100px;
		}
		> label {
			padding: 10px;

			&:hover {
				border-bottom: none !important;
			}
		
			> p {
				cursor: pointer;
				font-size: 0.8rem;
				margin: 0;
				position: relative;
				bottom: 12px;
				left: 5px;

			}
		}
	}

	input[name='username'] {
		background: url(Icons/user.png);
	}

	input[name='password'], input[name='confirm-password'] {
		background: url(Icons/password.png);
	}

	input[name='email'] {
		background: url(Icons/envelope.png);
	}

	input[type='text'], input[type='password'], input[type='email'] {
		display: flex;
		color: white;
		text-align: left;
		font-size: $font-size;
		display: block;
		// height: 40px;
		width: 60%;
		background-repeat: no-repeat;
		background-position: 97%;
		border: 2px solid $color1;
		border-radius: $input-radius;
		margin: 5px auto;
		padding: 4px 8px;
		text-align: left;
		outline: 1px solid lighten($color3, 15%);

		&:hover {
			outline: 2px solid $color2;
			transition: outline 0.1s ease-out;
			// width: 59.8%;
		}

		&:focus, &:active {
			// border: 2px lighten($color2, 5%);
			width: 59.7%;
			outline: 3px solid $color2;
			transition: all 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			transition-property: width, outline;

			@media (max-width: 600px) {
				width: 89%;
			}
		}

		& + label {
			display: none;
		}

		@media (max-width: 600px) {
			width: 90%;
		}

	}
	
	label:hover {
		color: $color5;
	}

	.remember-me {
		text-align: center;
		font-size: 0.85rem;
	}

	.forgot-password, .sign-up-now, .remember-me {
		font-size: 0.85rem;
		text-transform: none;

		&:hover,
		&:focus {
			border-bottom: none !important;
			background: none;
			color: $color5;
			transition: color 0.2s ease;
		}
	}

	.forgot-password {
		margin: 0px auto;
		padding: 5px;
	}

	> ul {
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0px;
		margin: 0px;
	}

	.sign-up-now {
		padding: 2px;
		text-align: center;
	}

	@media (max-width: 600px) {
		width: 100vw;
		min-width: 380px;
		padding: 0;
		margin: 0px auto;
	}

}

.forgot-password-modal {
	// opacity: 0;
}

.forgot-password-appear {
	width: 600px;
	height: auto;
	transition: width 0.15s ease-in-out;
}

.modal {
	// opacity: 0;
	transition: opacity 0.2s ease;
	top: -300px;
}

.modal-appear {		// this class is called in a script and added to the .modal class
	border-radius: $form-radius;
	top: 70px;
	left: calc(50% - 300px);
	visibility: visible;
	width: 600px;
	height: auto;
	display: flex;
	flex-direction: column;
	height: auto;
	opacity: 1;
	transition: left 0.15s cubic-bezier(.47,.98,.83,.28);
	form {
		display: flex;
	}
}

.close-window {   	// this styles the 'x' in the modal windows of the landing page
	text-transform: none;
	color: $color5;
	padding: 1px 12px;
	border-radius: 4px;
}

.remember-me .styled-checkbox {

	// hide default checkbox, replace it with a nicer one
  	position: absolute;
  	opacity: 0; 

  	&:focus > label > span {
  		color: $color5;
  	}

	& + label {
		position: relative;
		cursor: pointer;
		padding: 5px;
		display: flex;
		flex-direction: row;

		&:hover {
			border-bottom: none !important;
			background: none;
			color: $color5;
			transition: color 0.2s ease;
		}
	}

	// Box.
	& + label:before {
		content: '';
		margin-right: 8px;

		justify-content: center;
		// vertical-align: text-top;
		width: 18px;
		height: 18px;
		background: white;
	}

	// Box hover
	&:hover + label:before {
		background: $color4;
	}

	// Box focus
	&:focus + label {
		color: $color5;
		// position: relative;

		&:before {
			box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
		}
	}

	// Box checked
	&:checked + label:before {
		background: $color5;
	}

	// // Disabled state label.
	// &:disabled + label {
	// 	color: $greyed-out-color;
	// 	cursor: auto;
	// }

	// // Disabled box.
	// &:disabled + label:before {
	// box-shadow: none;
	// background: #ddd;
	// }

		// Checkmark (drawn in)
	&:checked + label:after {
	content: '';
	position: absolute;
	right: 116px;
	top: 14px;
	background: white;
	width: 2px;
	height: 2px;
	box-shadow: 
	  2px 0 0 white,
	  4px 0 0 white,
	  4px -2px 0 white,
	  4px -4px 0 white,
	  4px -6px 0 white,
	  4px -8px 0 white;
	transform: rotate(45deg);
	}

}
