.intro-title {
	position: absolute;

	@media (max-width: 800px) {
		width: 200px;
		height: auto;
	}
}

.intro-title.turtle {
	left: -404px;
	top: 80px;
	// left: 30.5%;
}

.turtle-move {
	left: 30% !important;
	transition: left 0.5s ease-in-out;
}

.turtle-move2 {
	left: 10vw !important;
	transition: left 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	position: fixed;
}

// .turtle-move3 {
// 	left: calc(50% - 300px) !important;
// 	transition: left 0.5s ease-in-out;
// }

// .turtle-move4 {		// this is only necessary for compatability with IE 
// 	left: -1000px !important;
// 	transition: left 0s linear;
// }

.intro-title.life {
	right: -404px;
	top: 180px;
	@media(max-width: 800px) {
		top: 127px;
	}
}

.life-move {
	right: 70% !important;
	transition: right 0.5s ease-in-out;

}

.life-move2 {
	right: calc(90vw - 675px) !important;
	transition: right 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	position: fixed;
	@media(max-width: 800px) {
		right: calc(90vw - 385px) !important;
	}

}

// .life-move3 {
// 	right: calc(30%-300px) !important;
// 	transition: right 0.5s ease-in-out;
// }

.welcome-pitch {
	// opacity: 0;
	position: absolute;
	font-size: 1.7rem;
	color: $color2;
	top: 110%;
}

.welcome-pitch-move {
	top: 55%;
	left: 40%;
	transition: top 0.5s ease-in-out;
	opacity: 1;
	@media (max-width: 800px) {
		left: 20%;
	}
}

.welcome-pitch-move2 {
	left: 110px;
	top: -10px;
	transition: all 0.5s ease-in-out;
	transition-property: top, left;
	position: fixed;
	
	@media (max-width: 800px) {
		opacity: 0;
		left: 110px;
		top: -50px;
		transition: all 0.5s ease-in-out;
		transition-property: top, left, opacity;
	}

}

.title-dot {
	position: absolute;
	top: 176px;
	right: calc(90vw - 479px);
	opacity: 0;
	@media(max-width: 800px) {
		width: 20px;
		height: auto;
		top: 124px;
		right: calc(90vw - 255px) !important;
	}
}

.intro {
	position: absolute;
	bottom: 5vh;
	right: 15vw;
	color: $color4;
	font-size: 2.2rem;
	opacity: 0;
	text-align: center;
	@media (max-width: 800px) {
		left: 2vw;
		bottom: 2vh;
	}
}

.fade-in {
	opacity: 1;
	transition: opacity 1s ease-in;
}



